*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.form{
	margin: 20px 0px 0px 50px;
	align-content: center; 
}

.form label{
	font-size: 40px;
	align-content: center;
	font-family: sans-serif;
	font-weight: 900;
	color: rgb(0,36,5);
	background: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.form input{
	padding: 10px 20px;
	align-content: center;
	background-color: lightgrey;
	text-align: center;
	color: black;
	border: 0px;
	border-radius: 7px;
	margin-bottom: 20px;
}


